doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../assets/css/reset.css")
    link(rel="stylesheet" href="../assets/css/login.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css")
    title UI-Login-Designer
  body 
    .login 
          .container
                .logo 
                    img(src="../assets/favicon/Union.svg")
                    span.tl Safe Tour
                    span.desc .
                .field_login 
                    .email 
                          h4 Email 
                          input(type="email" placeholder="Your Email")    
                    .password 
                          .pw_fg
                                h4 Password 
                                p Forgot Password?
                          input(type="password" placeholder="Password")   
                    .sign_in 
                          a(href="#!") Sign In      
